@{
    ViewBag.Title = "Quotation";
    ViewBag.Sub = "quotList";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section stMain {
    <style>
        #quotList {
            height: 770px;
        }
    </style>
    <!-- DevExtreme theme -->
    <div class="st-main">
        <div class="st-header">
            <div class="fluid_cols">
                <div class="min_col">
                    <div class="st-header__menu">
                        <button class="btn st-sidebar__toggle"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
                <div class="expand-col text-ellipsis">
                    <div class="st-header__title">
                        <span>공지사항</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="st-content mb50 max_width">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-15">
                        <div class="st-panel">
                            <div class="search-panel">
                                <div class="ad_label">기간:</div>
                                <div id="STRT_YMD"></div>
                                <div class="ad_dash">-</div>
                                <div id="END_YMD"></div>
                                <div class="ad_label">제목:</div>
                                <div id="S_TITLE"></div>
                                <div class="ad_label">내용:</div>
                                <div id="S_CONTENT"></div>
                                <div id="btnSearch"></div>
                                <div id="btnWrite" style="margin-left:10px;"></div>
                            </div>
                            <div id="gridNoticeList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden_area">
            <div id="GRP_KIND"></div>
            <div id="popup"></div>
            <div id="quotTest"></div>

        </div>
        <div class="st-footer">
            <div class="copyright">
                Copyrightⓒ 관리자 모드. All right reserved.
            </div>
        </div>

    </div>
    <script type="text/javascript" src="~/Scripts/js/Admin/_AdminNotice.js"></script>

}
