@charset "utf-8";
@font-face {
    font-family: 'Noto Sans KR';
    src: url('./fonts/NotoSans-Black.eot');
    src: url('./fonts/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSans-Black.woff2') format('woff2'),
         url('./fonts/NotoSans-Black.woff') format('woff'),
         url('./fonts/NotoSans-Black.ttf') format('truetype'),
         url('./fonts/NotoSans-Black.svg#NotoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;

}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(./fonts/NotoSansKR-Bold.eot);
	src: url(./fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Bold.woff) format('woff'),
		 url(./fonts/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(./fonts/NotoSansKR-Medium.eot);
	src: url(./fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Medium.woff) format('woff'),
		 url(./fonts/NotoSansKR-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/NotoSansKR-Regular.eot);
	src: url(./fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Regular.woff) format('woff'),
		 url(./fonts/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(./fonts/NotoSansKR-Light.eot);
	src: url(./fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/NotoSansKR-Light.woff) format('woff'),
		 url(./fonts/NotoSansKR-Light.ttf) format('truetype');
}

/* poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v15-latin-regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('./fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-v15-latin-regular.woff2') format('woff2'),
       url('./fonts/poppins-v15-latin-regular.woff') format('woff'),
       url('./fonts/poppins-v15-latin-regular.ttf') format('truetype'),
       url('./fonts/poppins-v15-latin-regular.svg#Poppins') format('svg');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('./fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v15-latin-600.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('./fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'),
       url('./fonts/poppins-v15-latin-600.woff2') format('woff2'),
       url('./fonts/poppins-v15-latin-600.woff') format('woff'),
       url('./fonts/poppins-v15-latin-600.ttf') format('truetype'),
       url('./fonts/poppins-v15-latin-600.svg#Poppins') format('svg');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Montserrat-VariableFont_wght.ttf');
	src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
}
@font-face {
	font-family: 'Montserrat-Bold';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Montserrat-Bold.ttf');
	src: url('./fonts/Montserrat-Bold.ttf') format('truetype'),
}