@{
    ViewBag.Title = "quotRegist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section stMain {
    <script type="text/javascript" src="~/Scripts/js/Admin/_bkgModList.js"></script>
    <style>
        .req_mod {
            margin: 0 auto;
            background-color: #949fa7;
            color: white;
            cursor: pointer;
            height: 27px;
            width: 86%;
            font-size: 15px;
            padding-top: 5px;
        }
        .end_mod { /*완료*/
            margin: 0 auto;
            background-color: #006e6a;
            color: white;
            height: 27px;
            width: 86%;
            font-size: 15px;
            padding-top: 5px;
        }
    </style>
    <!-- DevExtreme theme -->
    <div class="st-main">
        <div class="st-header">
            <div class="fluid_cols">
                <div class="min_col">
                    <div class="st-header__menu">
                        <button class="btn st-sidebar__toggle"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
                <div class="expand-col text-ellipsis">
                    <div class="st-header__title">
                        <span>예약 수정요청 리스트</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="st-content mb50 max_width">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-15">
                        <div class="st-panel">
                            <div class="search-panel">
                                <div class="ad_label">기간:</div>
                                <div id="STRT_YMD"></div>
                                <div class="ad_dash">-</div>
                                <div id="END_YMD"></div>
                                <div class="ad_label">수정여부:</div>
                                <div id="MOD_YN"></div>
                                <div class="ad_label">상품명:</div>
                                <div id="ITEM_NM"></div>
                                <div class="ad_label">요청자명:</div>
                                <div id="CUST_NM"></div>
                                <div class="ad_label">요청자 이메일:</div>
                                <div id="CUST_EMAIL"></div>
                                <div id="btnSearch"></div>
                            </div>
                            <div id="gridItem"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden_area">
            <div id="popup"></div>

            @*<div class="search-panel"></div>*@
            @*<div id="quotTest"></div>*@
            @*<div id="ITEM_NM"></div>*@
            <div id="BKG_NO"></div>
            <div id="BKG_TYPE"></div>

        </div>
        <div class="st-footer">
            <div class="copyright">
                Copyrightⓒ 관리자 모드. All right reserved.
            </div>
        </div>

    </div>

}
